 html, body{
  background:; 
  color: black;
    overflow-x: hidden !important;
    
}
/*BARRA DE NAVEGACION A PANTALLA COMPLETA
/*@media (max-width: 1000px) {
    .breadcrumbs {
        margin-top: 72px;
    }
    .navbar {
        background-color: white;
    }
    .navbar-collapse {
        height: 100vh;
    }
    .nav-link {
        text-align: center;
        font-size: 1.7rem;
        line-height: 3rem
    }
    .engtoggle {
        justify-content: center;
        align-items: center;
    }
}*/
p{
  margin-bottom: 0px;
  margin-left: : 0px;
  font-size: 1.2rem;
}

.fondo{
  background: #0054AE;
  width:150%;
  position: fixed;
  z-index: 90;
}

img{
  width: 100%;
}

.cod{
  width: 70%;
}
.pricing-table1{
 
  transition: transform .5s ease;

  -webkit-perspective: 2000px;
  perspective: 2000px;
}

.pricing-table1:hover{
  transform: scale(1.07);
}
.pricing-table2{
 
  transition: transform .5s ease;

  -webkit-perspective: 2000px;
  perspective: 2000px;
}

.pricing-table2:hover{
  transform: scale(1.07);
}

.buttonsCatalogo{
  text-align: center;
}
a{
  display: inline-block;
 
  text-decoration: none;

}
.logo img{
  height: 30px;
}
nav{
  color:black;
  background: white;
  letter-spacing: 0px;
  top:0;
  text-align: center;
  width: 100%;
  box-shadow: 1px 0px 20px #696969;
}

.nav {
  background-color: black;
  color:white;
  font-family: 'Cinzel', serif;
}

.nav .nav-item .nav-link{
  background-color: black;
  color:white;
}
.nav .nav-item .nav-link:hover{
  
  color:#9B7A07;
  
}
.lleva{
  margin-top: 60px;
}
.redes{
  text-decoration: none;
  color:black;
}

.redes:hover{
  text-decoration: none;
  color:#9B7A07;
}
@media (max-width:320px){/*fold*/
.logo img{
  width:85px;
  height:20px;
  

}
#btnMenu{
  width:40px;
  height: 30px;
}
#btnMenu2{
  font-size: 10px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.redes{
  text-decoration: none;
  color:black;
  font-size: 13px;
}
}
.codigoqr{
  margin-top:55px;
}
.tituloContenedor{
  margin-top: 55px;
}
.tituloInvitaciones{
  font-family: 'Cinzel', serif;
  font-size: 28px;
  margin-top: 150px;
}
.laNuevaForma{
  font-family: 'Playfair Display', serif; font-size:25px;
}
@media only screen and (max-width: 380px) and (min-width: 320px)  {
  .tituloInvitaciones{
  font-family: 'Cinzel', serif; 
  font-size: 26px;

}
.tituloContenedor{
  margin-top: 50px;
}
}
@media (max-width:320px){
.tituloInvitaciones{
  font-family: 'Cinzel', serif; 

  font-size: 20px;
}
.lleva{
  margin-top: 40px;
}
.laNuevaForma{
  font-size:18px;
}

}
.scroll{
  display:block;
  width:100%;
  height:auto;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

scroll-page{
  display:flex;
  align-items: center;
  justify-content: center;
  height: 100%;

}


ul{
  text-align: center;
  z-index: 99;

  
}

.nav-link {
    font-weight: 700;
    font-size: 1.2rem;
   color: black;
    margin-right: 1rem;
    margin: 5px;

    }
    .nav-link: hover {
      color:red;
    
    
}
.btnDemos{
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  text-decoration:none;
  height: 30px;
  font-size: 15px;
border-color: white;  
background-color:black; 
color:white; 
border-radius: 15px;
display:flex;
  justify-content: center;
  align-items: center;
}


.btnDemos:hover{
  border-top: 2px solid black;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  border-left: 2px solid white;
  border-color: #323232;  
  text-decoration:none;
  color: #323232;
  background-color: white;

  
 
}

.btnDemos2{
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  font-family: 'Oswald', sans-serif;
  text-decoration:none;
  height: 30px;
  font-size: 15px;
border-color: white;  
background-color:white; 
color:black; 
border-radius: 15px;
display:flex;
  justify-content: center;
  align-items: center;
}


.btnDemos2:hover{
  text-decoration:none;
  color: white;
  background-color: black;
  border-top: 2px solid black;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  border-left: 2px solid white;
  border-color: #fff;  
  
  
 
 
}
.demos{

  border-top: 3px solid black;
  border-bottom: 3px solid white;
  border-right: 3px solid white;
  border-left: 3px solid white;
  border-color: transparent;

  color:white;
  background-color: transparent;
  text-align: center;
}
.btnDigitales{
  text-decoration:none;
  height: 120px;
  background-color:black; 
  color:white;  
  border-top: 3px solid ;
  border-bottom: 3px solid ;
  border-right: 3px solid ;
  border-left: 3px solid ;
  border-color: black;
  border-radius: 15px;
  font-size: 15px;
  font-family: 'Cinzel', serif;
  font-weight: bold;
 display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
  margin-top: 50px;
}


.btnDigitales:hover{
  text-decoration:none;
  color: black;
  background-color: white;
  border-top: 3px solid ;
  border-bottom: 3px solid ;
  border-right: 3px solid ;
  border-left: 3px solid ;
  border-color: #9B7A07;
 
}
.btnDigitales2{
  text-decoration:none;
  height: 120px;
  background-color:black; 
  color:white;  
  border-top: 3px solid ;
  border-bottom: 3px solid ;
  border-right: 3px solid ;
  border-left: 3px solid ;
  border-color: black;
  border-radius: 15px;
  font-size: 15px;
  font-family: 'Cinzel', serif;
  font-weight: bold;
 display:flex;
  justify-content: center;
  align-items: center;
}


.btnDigitales2:hover{
  text-decoration:none;
  color: black;
  background-color: white;
  border-top: 3px solid ;
  border-bottom: 3px solid ;
  border-right: 3px solid ;
  border-left: 3px solid ;
  border-color: #9B7A07;
 
}
.imagenInicio{
  width: 70%;

}
.imagenInicio2{
  width: 70%;

}
@media (min-width: 1200px) { /*laptop*/
  .imagenInicio{
  width: 50%;

}
.imagenInicio2{
  width: 50%;

}
.btnDigitales{
  text-decoration:none;
  height: 120px;
  background-color:black; 
  color:white;  
  border-top: 3px solid ;
  border-bottom: 3px solid ;
  border-right: 3px solid ;
  border-left: 3px solid ;
  border-color: black;
  border-radius: 15px;
  font-size: 15px;
  font-family: 'Cinzel', serif;
  font-weight: bold;
 display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
  margin-top: 100px;
}
}
@media (max-width:320px){/*fold*/
  .btnDemos{
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  text-decoration:none;
  height: 30px;
  font-size: 10px;
border-color: white;  
background-color:black; 
color:white; 
border-radius: 15px;
display:flex;
  justify-content: center;
  align-items: center;
}


.btnDemos:hover{
  text-decoration:none;
  color: black;
  background-color: white;

  
 
}

.btnDemos2{
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  font-family: 'Oswald', sans-serif;
  text-decoration:none;
  height: 30px;
  font-size: 10px;
border-color: white;  
background-color:white; 
color:black; 
border-radius: 15px;
display:flex;
  justify-content: center;
  align-items: center;
}


.btnDemos2:hover{
  text-decoration:none;
  color: white;
  background-color: black;
  
 
 
}

.imagenInicio{
  width: 70%;

}
.imagenInicio2{
  width: 70%;

}
.btnDigitales{
  text-decoration:none;
  height: 90px;
  background-color:black; 
  color:white;  
  border-top: 3px solid ;
  border-bottom: 3px solid ;
  border-right: 3px solid ;
  border-left: 3px solid ;
  border-color: black;
  border-radius: 15px;
  font-size: 10px;
  font-family: 'Cinzel', serif;
  font-weight: bold;
 display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 40px;
}
.btnDigitales2{
  text-decoration:none;
  height: 90px;
  background-color:black; 
  color:white;  
  border-top: 3px solid ;
  border-bottom: 3px solid ;
  border-right: 3px solid ;
  border-left: 3px solid ;
  border-color: black;
  border-radius: 15px;
  font-size: 10px;
  font-family: 'Cinzel', serif;
  font-weight: bold;
 display:flex;
  justify-content: center;
  align-items: center;
}
}
.btnDigitales img{
  position: relative;
  -webkit-animation-name: rebote; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
  -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
  -webkit-animation-direction: reverse; /* Chrome, Safari, Opera */
  animation-name: rebote;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: ease-out;
}
.btnDigitales span{
  background-color: #2F2B2B;
  display: block;
  margin-top: -4px;
  height: 15px;
  width: 200px;
}


.btnDigitales2 img{
  position: relative;
  -webkit-animation-name: rebote; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
  -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
  -webkit-animation-direction: reverse; /* Chrome, Safari, Opera */
  animation-name: rebote;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: ease-out;
}
.btnDigitales2 span{
  background-color: #2F2B2B;
  display: block;
  margin-top: -4px;
  height: 15px;
  width: 200px;
}
/* Standard syntax */
@keyframes rebote {
  0%   {left:0px; top:0px;}
  25%  {left:0px; top:0px;}
  50%  {left:0px; top:-7px;}
  75%  {left:0px; top:-5px;}
  100% {left:0px; top:0px;}
}
.btnCatalogo{
   text-decoration:none;
  height: 55px;
  background-color:black; 
  color:white;  
  border-top: 3px solid ;
  border-bottom: 3px solid ;
  border-right: 3px solid ;
  border-left: 3px solid ;
  border-color: white;
  border-radius: 15px;
  font-size: 20px;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
 display:flex;
  justify-content: center;
  align-items: center;
}


.btnCatalogo:hover{
  text-decoration:none;
  color: black;
  background-color: white;
  border-top: 3px solid ;
  border-bottom: 3px solid ;
  border-right: 3px solid ;
  border-left: 3px solid ;
  border-color: #9B7A07;
 
}


.atrevete{
  margin-top: 50px;
}

.inicio{

   
   background: repeating-linear-gradient(90deg, transparent 0px , transparent 2px, #DCDCDC 2px, #DCDCDC 30px),
      repeating-linear-gradient(45deg, #DCDCDC 0px , #DCDCDC 10px, #DCDCDC 10px, #DCDCDC 35px);


}


.tituloSistemaControl{
  font-family: 'Playfair Display', serif;  
  font-size: 25px;
}
@media (min-width: 1200px) { /*laptop*/
  .tituloSistemaControl{
  font-size: 22px;

}
}
.inicio1{
width: 100%;
  background:transparent; 
 
z-index: -1;
margin-top: 0px;

}



    .catalogo .catalogoItem figure{
       position:relative;
        height: auto;
        cursor: pointer;
        width: auto;
        overflow: hidden;
        border-radius: 6px;
        }
    
    .catalogo .catalogoItem figure .capa{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(24,23,23,0.7);
        transition: all 400ms ease-out;
        opacity: 0;
        visibility: hidden;
       text-align: center;
    }
    .catalogo .catalogoItem figure:hover > .capa {
        opacity: 1;
        visibility: visible;
    }
    .catalogo .catalogoItem figure:hover > .capa h3{
        margin-top: 75px;
        margin-bottom: 15px;
    }
    .catalogo .catalogoItem figure .capa h3{
        color: #fff;
        font-weight: 400;
        margin-bottom: 120px;
        transition: all 400ms ease-out;
         margin-top: 30px;
    }
    .catalogo .catalogoItem figure .capa p{
        color: #fff;
        font-size: 15px;
        line-height: 1.5;
        width: 100%;
        max-width: 220px;
        margin: auto;
    }
.nosotros img{
  border-radius: 40px;

}
.desarrollamos{

  margin-top: 0px;
  font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
  font-size: 2.0rem;
  z-index: -1;

}

h1{
  
  font-size: 2.5rem;
  text-align: center;
  font-family: 'Archivo Black', sans-serif;
  z-index: -1;
 
}
h3{
  
  font-size: 1rem;
  text-align: center;
}
h2{
  
  font-size: 1.9rem;
  text-align: center;
}
h4{
  font-size: 1.9rem;
  text-align: center;
}
.catalogo{
  color:black;
  z-index: 5;
  margin-bottom: 25px;

}
.buttonsCatalogo{
  position:relative;
  z-index: -1;


}

.precios{
  margin-top: 10px;
  color:black;
  z-index: -1;
  margin-bottom: 30px;

}
.sencillo{
  border: 1px;
  border-color: black;
  font-size: 1.9rem;;
  border-right: 10px;
  margin-top: 10px;
  color:red;
  z-index: -1;
}





.pricing-table{
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

.pricing-table .block-heading {
  padding-top: 80px;
  margin-bottom: 40px;
  text-align: center; 
}
.pricing-table .block-heading h3 {
  font-size: 2.0rem;
}
.pricing-table .block-heading h2 {
  color:black;
}

.pricing-table .block-heading p {
  text-align: center;
  max-width: 420px;
  margin: auto;
  opacity: 0.7; 
  font-size: 10px;
}

.pricing-table .heading {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
  background: repeating-linear-gradient(90deg, transparent 0px , transparent 21px, #F9F9F9 2px, #F9F9F9 4px),
      repeating-linear-gradient(45deg, #fff 0px , #fff 10px, #F9F9F9 10px, #F9F9F9 20px);
       display:flex;
  justify-content: center;
  align-items: center;
}

.pricing-table .item {
  background-color: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
  border-top: 3px solid #9B7A07;
  border-bottom: : 2px solid #005BC0;
  border-left: : 2px solid #005BC0;
  border-right: : 1px solid #005BC0;
  padding: 30px;
  overflow: hidden;
  position: relative; 
}

.pricing-table .col-md-5:not(:last-child) .item {
  margin-bottom: 30px; 
}

.pricing-table .item .button {
  font-weight: 600; 
}

.pricing-table .ribbon {
  width: 160px;
  height: 32px;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  box-shadow: 0px 2px 3px rgba(136, 136, 136, 0.25);
  background: #4dbe3b;
  transform: rotate(45deg);
  position: absolute;
  right: -42px;
  top: 20px;
  padding-top: 7px; 
}

.pricing-table .item p {
  text-align: center;
  margin-top: 20px;
  opacity: 0.7; 
}

.pricing-table .features .feature {
  font-weight: 600; }

.pricing-table .features h4 {
  text-align: center;
  font-size: 18px;
  padding: 5px; 
}

.pricing-table .price h4 {
  margin: 15px 0;
  margin-top:50px;
  font-size: 45px;
  text-align: center;
  color: black; 
  font-weight: bold;
}
.pricing-table .price2 h4 {
  margin: 15px 0;
  font-size: 45px;
  text-align: center;
  color: black; 
  font-weight: bold;
}

.pricing-table .buy-now .button {
  text-align: center;
  margin: auto;
  font-weight: 600;
  padding: 9px 0; 
  background-color: white; 
}
.hagamos{
  font-family: 'Playfair Display', serif;  
  color:#9B7A07;
  font-size:27px;
}
.contacto2{
  font-family: 'Montserrat', sans-serif;  
  font-size:17px;
}
.horario{
font-family: 'Montserrat', sans-serif; 
font-size:17px
}
.laviernes{
font-family: 'Montserrat', sans-serif; 
font-size:15px;
}
.contacto3{
    font-family: 'Cinzel', serif;
    font-size: 28px;
}
@media (max-width:390px){
.price{
  margin-top: 0px;
}
}
@media only screen and (max-width: 380px) and (min-width: 320px)  {
  .price{
  margin-top:0px;
}
}
@media (max-width:320px){
.price{
  margin-top: 0px;
}
.contacto2{
  font-family: 'Montserrat', sans-serif;  font-size:12px;
}
.contacto3{
    font-family: 'Cinzel', serif;
    font-size: 20px;
}
.horario{
font-family: 'Montserrat', sans-serif; 
font-size:13px
}
.laviernes{
font-family: 'Montserrat', sans-serif; 
font-size:12px;
}
.hagamos{
  font-family: 'Playfair Display', serif;  
  color:#9B7A07;
  font-size:20px;
}
}


.float{
  position:fixed;
  width:50px;
  height:50px;
  
  right:10px;
    bottom:10px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
  text-decoration: none;
  color: #25d366;
  background-color:#fff;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-7px);
}

.my-float{
  margin-top:9px;
  margin-right: -1px;
}

.home{
  position:fixed;
  width:50px;
  height:50px;
  
  right:10px;
  bottom:70px;
  background-color:gray;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:20px;
  box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.home:hover {
  text-decoration: none;
  color: #9B7A07;
  background-color:white;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-7px);
}

.my-home{
  margin-top:14px;
  margin-right: -1px;
}

#scroll {
    position:fixed;
    bottom:70px;
    right:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#9B7A07;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#6C757D;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}

#scroll2 {
    position:fixed;
    bottom:70px;
    right:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#9B7A07;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll2 span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll2:hover {
    background-color:#6C757D;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}
.social-container{
  width:auto;
  margin:0vh auto;
  text-align:center
}
.social-icons{
   margin-top: -100px;
  padding:0;
  list-style:none;margin:1em
}
.social-icons li{
  display:inline-block;
  margin:.15em;
  position:relative;font-size:1.2em
}
.social-icons i{color:#fff;
  position:absolute;top:21px;
  left:21px;
  transition:all 265ms ease-out}
.social-icons a{
  display:inline-block
}
.social-icons a:before{
  transform:scale(1);
  -ms-transform:scale(1);
  -webkit-transform:scale(1);
  content:" ";
  width:60px;height:60px;
  border-radius:100%;
  display:block;background:linear-gradient(45deg,#323232,#323232);
  transition:all 265ms ease-out
}
.social-icons a:hover:before{transform:scale(0);transition:all 265ms ease-in}
.social-icons a:hover i{transform:scale(2.2);
  -ms-transform:scale(2.2);
  -webkit-transform:scale(2.2);
  color:#9B7A07;background:-webkit-linear-gradient(45deg,#9B7A07,#9B7A07);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
  transition:all 265ms ease-in
}
.piepag {
  font-size: 1.6rem;
  text-align: center;
  z-index: -1;
  color:white;
  font-family: 'Montserrat', sans-serif; 

}
.pie{
  margin:0;
   background: repeating-linear-gradient(90deg, transparent 0px , transparent 2px, #323232 2px, #323232 30px),
      repeating-linear-gradient(45deg, #323232 0px , #323232 10px, #323232 10px, #323232 35px);
  margin-bottom: 0px;
  font-size: 1.2rem;
  color:white;
  position:relative;
  z-index: -1;
  text-decoration:none;
  font-family: 'Montserrat', sans-serif; 
}


.button {
  text-decoration:none;
  background-color:#9B7A07;
  color:black;
  font-family: 'Playfair Display', serif;
  position: absolute;
  left:50%;
  transform:translate(-50%,-50%);
  padding:10px 25px;
  border-radius:1000px;
  cursor: pointer;
  z-index:1000;
  border-color:red;
}

.button:hover {
  text-decoration:none;
  background-color:white;
  color:white;
  font-family: 'Playfair Display', serif;
  position: absolute;
  
  left:50%;
  transform:translate(-50%,-50%);
  padding:10px 25px;
  border-radius:1000px;
  cursor: pointer;
  z-index:1000;
}
.button .w1,.button .w2,.button .w3 {
  text-decoration:none;
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:100%;
  height:100%;
  background-color:#9B7A07;
  opacity:0;
  z-index:-1000;
  border-radius:1000px;
  transition:opacity 1s;
}

.button .w1 {
  transform:translate(-50%,-50%) scale(1);
}
.button .w2 {
  transform:translate(-50%,-50%) scale(1.1);
}
.button .w3 {
  transform:translate(-50%,-50%) scale(1.2);
  transition:opacity 2s;
}
.button .w1, .button .w2, .button .w3 {
  opacity:0.4;
}
.button:hover .w1, .button:hover .w2, .button:hover .w3 {
  opacity:0.5;
  text-decoration:none;
  color:red;
}

.button .w1 {
  animation:wave1 1.5s linear infinite;
}
.button .w2 {
  animation:wave2 1.5s linear infinite;
}
.button .w3 {
  animation:wave3 1.5s linear infinite;
}

@keyframes wave1 {
  0% {transform:translate(-50%,-50%) scale(1);}
  100% {transform:translate(-50%,-50%) scale(1.1);}
}
@keyframes wave2 {
  0% {transform:translate(-50%,-50%) scale(1.1);}
  100% {transform:translate(-50%,-50%) scale(1.2);}
}
@keyframes wave3 {
  0% {transform:translate(-50%,-50%) scale(1.2);}
  100% {transform:translate(-50%,-50%) scale(1.3);opacity:0;}
}

.redes2{
  text-decoration: none;
  color:black;
  font-size: 15px;
  height: 30px;
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  display:flex;
  justify-content: center;
  align-items: center;
}

.redes2:hover{
  text-decoration: none;
  display:flex;
  justify-content: center;
  align-items: center;
  color:#9B7A07;
}
.redes3{
  font-size: 25px;
}
.titulo{
  font-family: 'Cinzel', serif;
  font-size:30px;
}
.bodas{
  border-top: 3px solid #DCDCDC;
  border-bottom: 3px solid #DCDCDC;
  border-right: 3px solid #DCDCDC;
  border-left: 3px solid #DCDCDC;
  border-color: white;
  color:white;
  outline: 5px solid #DCDCDC;
box-shadow: 5px 5px 40px #DCDCDC;
border-top-right-radius: 30px 30px;
border-bottom-left-radius: 30px 30px;
   background: #DCDCDC;
  opacity: 1;
  text-align: center;

}
.tituloCatalogo{
  font-family: 'Playfair Display', serif;  
  color:black; 
  font-size:28px;
}
.hotel{
  font-family: 'Playfair Display', serif;  
  font-size: 24px;
}
.hotel2{
  font-family: 'Montserrat', sans-serif; 
  color:white; 
  font-size:15px;

}

.daClick{
font-size: 13px;  
color:black; 
letter-spacing: 4px;
}
.textoCatalogo{
  font-family: 'Montserrat', sans-serif; 
  color:black; 
  font-size:17px;
}
 .tituloCatInvitaciones{
  font-family: 'Cinzel', serif; margin-top: 90px;
  border-top: 2px solid #DCDCDC;
  border-bottom: 2px solid #DCDCDC;
  border-right: 2px solid #DCDCDC;
  border-left: 2px solid #DCDCDC;
  border-color: white;
  color:white;
  outline: 5px solid #323232;
box-shadow: 5px 5px 40px #000;
   background: #323232;
  opacity: 1;
  text-align: center;
}
@media (max-width:320px){/*fold*/
  .social-icons i{color:#fff;
  position:absolute;top:13px;
  left:13px;
  font-size: 15px;
  transition:all 265ms ease-out}
.social-icons a{
  display:inline-block
}
  .social-icons a:before{
  transform:scale(1);
  -ms-transform:scale(1);
  -webkit-transform:scale(1);
  content:" ";
  width:40px;height:40px;
  border-radius:100%;
  display:block;background:linear-gradient(45deg,#323232,#323232);
  transition:all 265ms ease-out
}
  .textoCatalogo{
  font-family: 'Montserrat', sans-serif; 
  color:black; 
  font-size:13px;
}
  .daClick{
font-size: 10px;  
color:black; 
letter-spacing: 4px;
}
  .hotel2{
  font-family: 'Montserrat', sans-serif; 
  color:white; 
  font-size:12px;
}
 .hotel{
  font-family: 'Playfair Display', serif;  
  font-size: 18px;
  margin-top: 20px;
}
  .tituloCatalogo{
  font-family: 'Playfair Display', serif;  
  color:black; 
  font-size:20px;
}
  .titulo{
  font-family: 'Cinzel', serif;
  font-size:25px;
}

  .button {
  text-decoration:none;
  background-color:#9B7A07;
  color:black;
  font-family: 'Playfair Display', serif;
  position: absolute;
  left:50%;
  transform:translate(-50%,-50%);
  padding:10px 15px;
  border-radius:1000px;
  cursor: pointer;
  z-index:1000;
  border-color:red;
  font-size: 13px;
}
.button:hover {
  text-decoration:none;
  background-color:white;
  color:white;
  font-family: 'Playfair Display', serif;
  position: absolute;
  
  left:50%;
  transform:translate(-50%,-50%);
 padding:10px 15px;
  border-radius:1000px;
  cursor: pointer;
  z-index:1000;
   font-size: 13px;
}
.redes2{
  text-decoration: none;
  color:black;
  font-size: 12px;
  height: 30px;
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  display:flex;
  justify-content: center;
  align-items: center;
}

.redes2:hover{
  text-decoration: none;
  display:flex;
  justify-content: center;
  align-items: center;
  color:#9B7A07;
}
.redes3{
  font-size: 15px;
}
}

.nosotrosContainer{
  border-top: 3px solid #E5CA5E;
  border-bottom: 3px solid #E5CA5E;
  border-right: 3px solid #E5CA5E;
  border-left: 3px solid #E5CA5E;
  border-color: white;
  color:white;
  outline: 5px solid #323232;
box-shadow: 5px 5px 40px #000;
border-top-right-radius: 30px 30px;
border-bottom-left-radius: 30px 30px;
   background: #323232;
  opacity: 1;
  text-align: center;

}

.detalle1{
   background: repeating-linear-gradient(90deg, transparent 0px , transparent 20px, #DCDCDC 2px, #DCDCDC 14px),
      repeating-linear-gradient(45deg, #9B7A07 0px , #9B7A07 10px, #DCDCDC 5px, #DCDCDC 20px);
      color:transparent;
      font-size: 10px;
      height: 10px;
}
.detalle2{
   background: repeating-linear-gradient(90deg, transparent 0px , transparent 20px, #DCDCDC 2px, #DCDCDC 14px),
      repeating-linear-gradient(45deg, #080F30 0px , #080F30 10px, #DCDCDC 5px, #DCDCDC 20px);
      color:transparent;
      font-size: 10px;
      height: 10px;
}
.detalle3{
   background: repeating-linear-gradient(90deg, transparent 0px , transparent 20px, #DCDCDC 2px, #DCDCDC 14px),
      repeating-linear-gradient(45deg, #A01800 0px , #A01800 10px, #DCDCDC 5px, #DCDCDC 20px);
      color:transparent;
      font-size: 10px;
      height: 10px;
}

.detalle11{
   background: repeating-linear-gradient(90deg, transparent 0px , transparent 20px, #fff 2px, #fff 14px),
      repeating-linear-gradient(45deg, #9B7A07 0px , #9B7A07 10px, #fff 5px, #fff 20px);
      color:transparent;
      font-size: 10px;
      height: 10px;
}
.detalle22{
   background: repeating-linear-gradient(90deg, transparent 0px , transparent 20px, #fff 2px, #fff 14px),
      repeating-linear-gradient(45deg, #080F30 0px , #080F30 10px, #fff 5px, #fff 20px);
      color:transparent;
      font-size: 10px;
      height: 10px;
}
.detalle33{
   background: repeating-linear-gradient(90deg, transparent 0px , transparent 20px, #fff 2px, #fff 14px),
      repeating-linear-gradient(45deg, #A01800 0px , #A01800 10px, #fff 5px, #fff 20px);
      color:transparent;
      font-size: 10px;
      height: 10px;
}

.lainvitaciondetueleccion{
  border-top: 3px solid #DCDCDC;
  border-bottom: 3px solid #DCDCDC;
  border-right: 3px solid #DCDCDC;
  border-left: 3px solid #DCDCDC;
  border-color: white;
  color:white;
  outline: 5px solid #ABABAB;
box-shadow: 5px 5px 40px #000;
border-top-left-radius: 30px 30px;
border-bottom-right-radius: 30px 30px;
   background: #ABABAB;
  opacity: 1;
  text-align: center;

}
.herramientas{
  border-top: 3px solid #E5CA5E;
  border-bottom: 3px solid #E5CA5E;
  border-right: 3px solid #E5CA5E;
  border-left: 3px solid #E5CA5E;
  border-color: #9B7A07;
  color:white;
  

   background: #9B7A07;
  opacity: 1;
  text-align: center;

}

.btnPrecios{
  border-top: 2px solid #000;
  border-bottom: 2px solid #E5CA5E;
  text-decoration: none;
  color:black;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 3px;
  font-size:15px;
  border-color: transparent;
  background-color: white;
  height: 50px;
  display:flex;
  justify-content: left;
  align-items: center;

}

.btnPrecios:hover{
  border-top: 2px solid #E5CA5E;
  border-bottom: 2px solid #E5CA5E;
  text-decoration: none;
  color:black;
  font-size:15px;
  border-color: transparent;
  background-color: #DCDCDC;
  height: 50px;
  display:flex;
  justify-content: left;
  align-items: center;

}

.textoPrecios{
  text-decoration: none;
  color:black;
  font-size:15px;
  border-color: transparent;

  height: 50px;
  display:flex;
  justify-content: left;
  align-items: center;

}


a {
  text-decoration: none;
  color:#fff;
}

.btn-menu {
  
  padding: 20px;
  background: #0d2c44;
  color:#fff;
}

.btn-menu .icono {
 
}

.contenedor-menu {
  width: 100%;

  
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  line-height: 18px;
}

.contenedor-menu .menu {
  width: 100%;
}

.contenedor-menu ul {
  list-style: none;
}

.contenedor-menu .menu li a {
  color:#000;
   font-family: 'Oswald', sans-serif;
  letter-spacing: 3px;
  display: block;
  padding: 15px 20px;
  background: #fff;
  border-bottom: .5px solid #DCDCDC;
  border-top: 1px solid #DCDCDC;
}

.contenedor-menu .menu li a:hover {
  background: #DCDCDC;
  color:#000;
  text-decoration: none;
}

.contenedor-menu .menu .icono {
  font-size: 12px;
  line-height: 18px;
}

.contenedor-menu .menu .icono.izquierda {
  float: left;
  
}

.contenedor-menu .menu .icono.derecha {
  float: right;

}

.contenedor-menu .menu ul {
  display: none;
}

.contenedor-menu .menu ul li a {
  background: #DCDCDC;
  color:#e9e9e9;
}

.contenedor-menu .menu .activado > a {
  background: #DCDCDC;
  color:#000;
}

  .contenedor-menu {
    margin-left: -45px;
    width: 170%;
    
    top:0;
   
    
  }

  .btn-menu {
    display: block;
  }

  #obtenerAhora{
  background-color: #ABABAB; 
  color:white; 
  border-color: white; 
  letter-spacing: 3px; 
  font-weight: 700;
}

#obtenerAhora:hover{
  background-color: white; 
  color:#ABABAB; 
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: #ABABAB; 
  letter-spacing: 3px; 
  font-weight: 700;
}


@media (max-width:320px){/*fold*/
  #obtenerAhora{
  background-color: #ABABAB; 
  color:white; 
  border-color: white; 
  letter-spacing: 3px; 
  font-weight: 700;
  font-size: 10px;
}

#obtenerAhora:hover{
  background-color: white; 
  color:#ABABAB; 
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: #ABABAB; 
  letter-spacing: 3px; 
  font-weight: 700;
}

  .contenedor-menu {
    margin-left: -60px;
    width: 170%;
    
    top:0;
    z-index: 1000;
    
  }
  .contenedor-menu .menu {
    font-size: 8px;
}
.contenedor-menu .menu .icono.izquierda {
  float: left;
  font-size: 7px;
 
  
}

.contenedor-menu .menu .icono.derecha {
  float: right;
  font-size: 7px;

}
}

.flecha {
  position: relative;
  -webkit-animation-name: rebote; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
  -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
  -webkit-animation-direction: reverse; /* Chrome, Safari, Opera */
  animation-name: rebote;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: ease-out;
}
.flecha span{
  background-color: #2F2B2B;
  display: block;
  margin-top: -4px;
  height: 15px;
  width: 200px;
}
/* Standard syntax */
@keyframes rebote {
  0%   {left:0px; top:0px;}
  25%  {left:0px; top:0px;}
  50%  {left:0px; top:-7px;}
  75%  {left:0px; top:-5px;}
  100% {left:0px; top:0px;}
}
.breadcrumb
{
  background: #fff;

}
.breadcrumb_list
{
   padding:0px 0;
   margin:0px 0;
}
.breadcrumb_list li
{
  list-style-type:none;
  display:inline;
  margin:0px 2px;
}
.breadcrumb_list a
{
  color:red;
  font-size:15px;
  text-decoration:none;
  font-family: "Arial";
}
.breadcrumb_list a:visited
{
  color:#b3b3b3;
}
.breadcrumb_list a:hover{
  color:#000;
}
.li-0:after
{
  content:" ";
  padding-left:24px;
}
.li-1:after
{
  content:"/";
  padding-left:10px;
  color:#b3b3b3;
}
.li-2:after
{
  content:"-";
  padding-left:20px;
  color:#b3b3b3;
}
.li-3:after
{
  content:'\2192';
  padding-left:13px;
  color:#b3b3b3;
}
.li-4:after
{
  content:'\00bb';
  padding-left:20px;
  color:#b3b3b3;
}